<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="MySqlConnexion" connectionString="server=420.cstj.qc.ca;userid=gm241;password=gm24yP1DR;database=gm241_inventaire"/>
  </connectionStrings>
</configuration>
